body {
  background-color: #0a1d39;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1230px;
  position: relative;
  // overflow: hidden;

  &-lg {
    width: 100%;
  }

  &--area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.coffee {
  position: absolute;
  right: 0;
  top: 400px;
  @media screen and (max-width: 1100px) {
    display: none;
  }
}
.grain-top {
  position: absolute;
  top: 865px;
  right: -35px;
  @media screen and (max-width: 1100px) {
    display: none;
  }
}
.bg-coffee {
  position: absolute;
  right: 0;
  bottom: 2330px;
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.body-bg-top {
  height: 80vh;
  width: 100%;
  min-height: 500px;
  background: url(/images/background-image.png) center no-repeat;
  position: absolute;
  background-size: cover;
}

.head {
  display: flex;
  justify-content: space-between;
  height: 60px;
  @media screen and (max-width: 475px) {
    height: 32px;
    width: 100%;
  }
  .logo {
    margin-right: 30px;
    @media screen and (max-width: 475px) {
      height: 100%;
      width: 50%;
      margin: 0;
    }
    img {
      height: 100%;
    }
  }
  .cappuccino {
    display: flex;
    padding: 3px;
    @media screen and (max-width: 475px) {
      padding: 0;
      justify-content: space-between;
      width: 50%;
      margin-left: 0;
      opacity: 0.3;
    }
    .caps {
      position: relative;
      margin-left: 15px;
      @media screen and (max-width: 475px) {
        width: 48px;
        margin-left: 2px;
      }
      img {
        height: 53px;
        width: 53px;
      }
    }
  }
}

.topic {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 69px;
  text-align: center;
  color: #ffffff;
  @media screen and (max-width: 810px) {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
  }
}

.topic-font {
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 69px;
  text-align: center;
  color: #ffffff;
  @media screen and (max-width: 810px) {
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
  }
}

.white-area {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  padding: 40px 50px;
  margin-bottom: 55px;
  @media screen and (max-width: 630px) {
    padding: 10px 10px 30px;
    margin-bottom: 20px;
  }
  .perk {
    img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .caption {
    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #373258;
  }

  .line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -10px;
    margin-right: -10px;
    @media screen and (max-width: 1110px) {
      //   display: initial;
    }
    // .sausage-center {
    //   margin: 0 34px;
    //   @media screen and (max-width: 1182px) {
    //     margin: 0;
    //   }
    // }

    .sausage {
      //   background: #d8bcf8;
      box-shadow: 0px 4px 12px #e8e9eb;
      border-radius: 77px;
      display: flex;
      padding: 7px;
      width: 337px;
      height: 116px;
      margin: 0 10px;
      @media screen and (max-width: 1180px) {
        width: 45%;
      }
      @media screen and (max-width: 835px) {
        width: 100%;
      }
      @media screen and (max-width: 380px) {
        width: 260px;
        height: 71px;
      }

      .avatar {
        margin-right: 14px;
        img {
          box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
          border-radius: 77px;
          width: 103px;
          @media screen and (max-width: 380px) {
            width: 60px;
          }
        }
      }
      .descr {
        .name {
          display: flex;
          p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 11px;
            color: #9693a8;
            margin: 25px 0 0 0;
            @media screen and (max-width: 380px) {
              font-size: 12px;
              margin: 5px 0 0 0;
            }
          }
          .icon {
            width: 25px;
            height: 25px;
            margin: 17px 0 0 17px;
            padding: 0;
            @media screen and (max-width: 380px) {
              width: 19px;
              margin: 0 0 0 5px;
            }
            img {
              margin: 0;
              @media screen and (max-width: 380px) {
                width: 17px;
              }
            }
          }
        }
        .coffe {
          display: flex;
          p {
            font-family: Poppins;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
            @media screen and (max-width: 380px) {
              font-size: 12px;
              margin-top: -7px;
            }
          }
          .icon {
            width: 25px;
            height: 25px;
            margin: -5px 0px -5px 17px;
            padding: 0;
            @media screen and (max-width: 380px) {
              width: 19px;
              margin: -11px 0px -5px 10px;
            }
            img {
              margin: 0;
              @media screen and (max-width: 380px) {
                width: 20px;
              }
            }
          }
        }
        .price-cal {
          display: flex;
          margin-top: 8px;
          @media screen and (max-width: 380px) {
            margin: 0;
          }
          .dot {
            width: 5px;
            height: 5px;
            background-color: #fff;
            border-radius: 3px;
            margin: 0 8px 0 0;
          }
          .price {
            background-color: #f44a4f;
            border-radius: 20px;
            padding: 4px 14px;
            height: 28px;
            margin: 0 13px 0 0;
            display: flex;
            align-items: center;
            @media screen and (max-width: 380px) {
              width: 72px;
              height: 20px;
            }

            p {
              color: #ffffff;
              margin: 0;
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              text-align: center;
              @media screen and (max-width: 380px) {
                font-size: 12px;
                white-space: nowrap;
              }
            }
          }
          .cal {
            background-color: #25c3f2;
            border-radius: 20px;
            padding: 4px 14px;
            height: 28px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 380px) {
              width: 72px;
              height: 20px;
            }
            p {
              color: #ffffff;
              margin: 0;
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              text-align: center;
              @media screen and (max-width: 380px) {
                font-size: 12px;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .sausage-top {
      margin-bottom: 30px;
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  .grey-line {
    background: #e7e7f0;
    height: 5px;
    width: 50%;
    &-left {
      @media screen and (max-width: 1100px) {
        margin-left: -50px;
      }
    }
    &-right {
      @media screen and (max-width: 1100px) {
        margin-right: -50px;
      }
    }
  }
  .caption {
    margin: 0 10px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #fff;
  &-red {
    background-color: #e91e23;
  }
  &-blue {
    background-color: #02b2e7;
  }
  &-yellow {
    background: #fabc16;
  }
}

.table-total {
  margin-bottom: 50px;
  @media screen and (max-width: 1100px) {
    display: none;
  }
  .d-table {
    width: 100%;
    border-collapse: collapse;
    .table-row {
      border-radius: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 59px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      &-head {
        align-items: flex-end;
      }
      &-red {
        background-color: #f44a4f;
      }
      &-blue {
        background-color: #25c3f2;
      }
      &-yellow {
        background-color: #ffc544;
      }
      .table-data {
        background-color: #ffffff;
        border-radius: 30px;
        display: flex;
        text-align: center;
        border: none;
        &-head {
        }
        &-total {
          align-items: center;
          padding-left: 10px;
        }
        p {
          margin: 0;
          font-family: Poppins;
          background-color: #ffffff;
          padding: 6px 15px;
          border-radius: 20px;
          color: #373258;
          font-weight: 500;
          font-size: 13px;
          display: flex;
          align-items: center;
        }
        .title {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          color: #9693a8;
          &-big {
            width: 120px;
            white-space: nowrap;
          }
        }

        .head-icon {
          img {
            width: 32px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
          }
        }
      }
    }
  }
}

.total-mobile {
  display: none;
  @media screen and (max-width: 1100px) {
    display: inline;
  }
  .mob-sausage {
    width: 100%;
    height: 60px;
    padding: 20px 25px;
    border-radius: 46px;
    margin-top: 30px;
    display: flex;
    position: relative;
    &-red {
      background-color: #f44a4f;
    }
    &-blue {
      background-color: #25c3f2;
    }
    &-yellow {
      background-color: #ffc544;
    }
    .dot {
      margin-top: 4px;
    }
  }
}
.arrow-down {
  position: absolute;
  right: 45px;
  top: 25px;
  .part {
    width: 1px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    &-1 {
      transform: rotate(-45deg);
      left: -7px;
    }
    &-2 {
      transform: rotate(45deg);
    }
  }
}

p.sausage {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 50px;
}

.expanded-list {
  border-radius: 28px;
  padding: 24px 10px;
  margin-top: 10px;
  &-red {
    border: 1px solid #ed6867;
  }
  &-blue {
    border: 1px solid #25c3f2;
  }
  &-yellow {
    border: 1px solid #ffc544;
    margin-bottom: 40px;
  }
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avatar {
      img {
        width: 43px;
        border-radius: 26px;
        box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
      }
    }
    .name {
      margin: 0 20px 0 30px;
      p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        align-items: center;
        color: #373258;
        margin-top: 11px;
      }
    }
    .pill {
      height: 31px;
      box-shadow: 0px 4px 12px rgba(27, 31, 54, 0.05);
      border-radius: 24px;
      padding: 4px 18px;
      margin-top: 11px;
      &-red {
        background-color: #f44a4f;
      }
      &-blue {
        background-color: #25c3f2;
      }
      &-yellow {
        background-color: #ffc544;
      }
      p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin: 0;
      }
    }
  }
}

.line-hr {
  width: 100%;
  height: 1px;
  background-color: #373258;
  opacity: 0.1;
  margin: 15px 0;
}

.seasons {
  width: 100%;
  background: #f6f6fb;
  border-radius: 24px;
  position: relative;
  margin-top: 40px;
  padding: 13px;
  display: none;
  @media screen and (max-width: 1100px) {
    display: block;
  }
  .small-sausage-season {
    .avatar {
      position: absolute;
      top: -23px;
      left: 0px;
      z-index: 1;
    }
    img {
      width: 70px;
      box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
      border-radius: 48px;
      border: 2px solid #fff;
    }
  }

  .base {
    box-shadow: 0px 4px 12px #e8e9eb;
    border-radius: 48px;
    height: 47px;
    margin-right: -13px;
    margin-top: -13px;
    position: relative;
    &-red {
      background: #f44a4f;
    }
    &-blue {
      background-color: #25c3f2;
    }
    &-yellow {
      background-color: #ffc544;
    }
    .name {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-family: Kaushan Script;
        font-weight: 500;
        font-size: 22px;
        align-items: center;
        color: #fff;
        margin-top: 6px;
      }
    }
    .arrow-down {
      top: 20px;
    }
  }
  .season {
    font-family: Poppins;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    &-red {
      p {
        color: #f44a4f;
      }
    }
    &-blue {
      p {
        color: #25c3f2;
      }
    }
    &-yellow {
      p {
        color: #ffc544;
      }
    }
    p {
      margin: 0 auto;
      font-family: Poppins;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  .sausage-season {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 24px;
    height: 41px;
    width: 100%;
    margin-top: 15px;
    padding: 10px 24px;
    position: relative;
    &-red {
      border: 1px solid #f44a4f;
    }
    &-blue {
      border: 1px solid #25c3f2;
    }
    &-yellow {
      border: 1px solid #ffc544;
    }
    .arrow-up {
      position: absolute;
      right: 45px;
      top: 24px;
      transform: rotate(180deg);
      .part {
        width: 1px;
        height: 10px;
        position: absolute;
        &-1 {
          transform: rotate(-45deg);
          left: -7px;
        }
        &-2 {
          transform: rotate(45deg);
        }
        &-1-red {
          background-color: #f44a4f;
        }
        &-2-red {
          background-color: #f44a4f;
        }
        &-1-blue {
          background-color: #25c3f2;
        }
        &-2-blue {
          background-color: #25c3f2;
        }
        &-1-yellow {
          background-color: #ffc544;
        }
        &-2-yellow {
          background-color: #ffc544;
        }
      }
    }
  }
  .drinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      display: flex;
      align-items: center;
      .dot {
        margin-right: 10px;
      }
    }
    p {
      font-family: Poppins;
      font-weight: 500;
      font-size: 16px;
      color: #373258;
    }
  }
}

.character {
  @media screen and (max-width: 1100px) {
    display: none;
  }
  .top-sausage {
    display: flex;
    background-color: #f44a4f;
    width: 100%;
    height: 70px;
    border-radius: 50px;
    margin-top: 100px;
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 22px;
    &-blue {
      background-color: #25c3f2;
    }
    &-yellow {
      background: #ffc544;
    }
    .top-ava {
      position: absolute;
      top: -32px;
      left: -13px;
      img {
        border-radius: 50px;
        box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
        border: 1px solid #fff;
      }
    }
    .tabl-head {
      display: flex;
      justify-content: space-between;
      margin-left: 90px;
      width: 100%;
      .name {
        font-family: Kaushan Script;
        font-size: 24px;
        color: #fff;
        width: 100%;
        max-width: 11%;
        p {
          margin: 0;
          margin-top: -13px;
        }
      }
      .season {
        font-family: Poppins;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        p {
          margin: 0 auto;
          font-family: Poppins;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          &-red {
            color: #f44a4f;
          }
          &-blue {
            color: #25c3f2;
          }
          &-yellow {
            color: #ffc544;
          }
        }
      }
    }
  }
}

.grey {
  background: #f6f6fb;
  border-radius: 72px;
  margin-top: 13px;
  height: 60px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
    color: #373258;
    margin: 0;
    white-space: nowrap;
  }
  .numbers {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(27, 31, 54, 0.05);
    border-radius: 24px;
    padding: 6px 20px;
    height: 32px;
    width: 100%;
    max-width: 16%;

    .dot {
      margin: 5px;
    }
  }
  .quantity {
    margin-top: 8px;
  }
  .summer {
    background-color: #f44a4f;
    box-shadow: 0px 4px 12px rgba(27, 31, 54, 0.05);
    border-radius: 24px;
    padding: 6px;
    width: 100%;
    max-width: 8%;
    text-align: center;
    &-blue {
      background-color: #25c3f2;
    }
    &-yellow {
      background: #fabc16;
    }
    p {
      color: #fff;
    }
  }
}

.write-up {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  max-width: 725px;
  margin: 0 auto 50px;
}

.about-erik {
  display: flex;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;

  .erik-icon {
    @media screen and (max-width: 1100px) {
      margin-top: 5px;
    }
    img {
      border-radius: 100px;
      border: 3px solid #ffc544;
      width: 122px;
      box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
      @media screen and (max-width: 1100px) {
        width: 83px;
      }
    }
  }
  .desckiption {
    padding: 10px 20px;
    position: relative;
    @media screen and (max-width: 1100px) {
      padding: 0 12px;
    }
    p {
      font-family: Poppins;
      font-size: 16px;
      color: #9693a8;
      margin: 0 0 10px;
      @media screen and (max-width: 1100px) {
        font-size: 14px;
      }
    }
    h5 {
      font-family: Kaushan Script;
      font-size: 24px;
      line-height: 20px;
      color: #373258;
      margin: 0;
      @media screen and (max-width: 1100px) {
        font-size: 22px;
      }
    }
    .pen {
      position: absolute;
      left: 225px;
      top: 12px;
      @media screen and (max-width: 1100px) {
        left: 132px;
        top: 13px;
      }
      img {
        @media screen and (max-width: 1100px) {
          width: 36px;
        }
      }
    }
    .blue-field {
      background-color: #02b2e7;
      box-shadow: 0px 4px 12px rgba(27, 31, 54, 0.05);
      border-radius: 24px;
      width: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 23px;
      padding: 4px 20px;
      @media screen and (max-width: 1100px) {
        width: 152px;
        padding: 2px;
        margin-top: 12px;
      }
      .dot {
        margin: 8px;
      }
      p {
        margin: 0;
        color: #fff;
        font-size: 13px;
        @media screen and (max-width: 1100px) {
          font-size: 12px;
          white-space: nowrap;
        }
        span {
          font-weight: bold;
          text-decoration-line: underline;
        }
      }
    }
  }
}
.expert-opinion {
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 80px;
  @media screen and (max-width: 1100px) {
    margin-bottom: 20px;
  }
}
.comments {
  background-color: #fff;
  padding: 50px;
  h5 {
    font-family: Kaushan Script;
    font-size: 24px;
    color: #373258;
    margin: 0;
    text-align: center;
    color: #373258;
  }
}
.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding-bottom: 30px;
  @media screen and (max-width: 1110px) {
  }
  .top-part {
    display: flex;
  }
  .sausage {
    //   background: #d8bcf8;
    box-shadow: 0px 4px 12px #e8e9eb;
    border-radius: 20px;
    padding: 27px;
    width: 337px;
    margin: 0 10px;
    @media screen and (max-width: 1180px) {
      width: 45%;
    }
    @media screen and (max-width: 835px) {
      width: 100%;
    }
    @media screen and (max-width: 380px) {
      width: 260px;
      //   height: 71px;
    }
    p {
      font-family: Poppins;
      font-size: 13px;
      color: #9693a8;
      line-height: 23px;
    }
    .avatar {
      margin-right: 14px;
      img {
        box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
        border-radius: 77px;
        width: 75px;
        @media screen and (max-width: 380px) {
          width: 60px;
        }
      }
    }
    .descr {
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
        color: #9693a8;
      }
      .name {
        display: flex;
        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 11px;
          color: #9693a8;
          margin: 25px 0 0 0;
          @media screen and (max-width: 380px) {
            font-size: 12px;
            margin: 5px 0 0 0;
          }
        }
        .icon {
          width: 25px;
          height: 25px;
          margin: 17px 0 0 17px;
          padding: 0;
          @media screen and (max-width: 380px) {
            width: 19px;
            margin: 0 0 0 5px;
          }
          img {
            margin: 0;
            @media screen and (max-width: 380px) {
              width: 17px;
            }
          }
        }
      }
      .coffe {
        display: flex;
        p {
          font-family: Poppins;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          margin: 0;
          white-space: nowrap;
          color: #373258;
          @media screen and (max-width: 380px) {
            font-size: 12px;
            margin-top: -7px;
          }
        }
        .icon {
          width: 25px;
          height: 25px;
          margin: -5px 0px -5px 17px;
          padding: 0;
          @media screen and (max-width: 380px) {
            width: 19px;
            margin: -11px 0px -5px 10px;
          }
          img {
            margin: 0;
            @media screen and (max-width: 380px) {
              width: 20px;
            }
          }
        }
      }
    }
  }
  .sausage-top {
    margin-bottom: 30px;
  }
}

.foot-cups {
  display: flex;
  justify-content: center;
  .coffee-cup {
    margin: 0 15px;
    img {
      width: 110px;
      @media screen and (max-width: 1100px) {
        width: 71px;
      }
    }
  }
}

footer {
  margin-top: 96px;
  background: #051630;
  @media screen and (max-width: 1100px) {
    margin-top: 50px;
  }
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
}
.footer-row-1 {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
  @media screen and (max-width: 1100px) {
    display: block;
    justify-content: center;
  }
  .footer-part-1 {
    display: flex;
    @media screen and (max-width: 1100px) {
      display: block;
      justify-content: center;
    }
    .footer-logo {
      margin-right: 45px;
      @media screen and (max-width: 1100px) {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        img {
          width: 174px;
        }
      }
      img {
        width: 174px;
      }
    }
    .copy {
      @media screen and (max-width: 1100px) {
        width: 170px;
        margin: 10px auto 0;
      }
      p {
        color: #ffffff;
        opacity: 0.5;
        font-size: 14px;
        line-height: 21px;
        font-family: Poppins;
        margin: 5px 0 0 0;
        @media screen and (max-width: 1100px) {
          opacity: 1;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      .write-up {
      }
    }
  }
}

.footer-part-2 {
  display: flex;
  @media screen and (max-width: 1100px) {
    display: inline;
  }
  .button-sources {
    border: 1px solid #fff;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    padding: 6px 33px;
    margin-right: 30px;
    @media screen and (max-width: 1100px) {
      margin-bottom: 21px;
      width: 100%;
    }
    p {
      font-family: Poppins;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
      margin: 0;
      text-align: left;
    }
    .button-line {
      height: 100%;
      width: 1px;
      background-color: #fff;
      position: absolute;
      top: 0px;
      right: 40px;
    }
    .icon-search {
      position: absolute;
      top: 10px;
      right: 13px;
    }
    .arrow-down {
      display: flex;
      position: absolute;
      right: 0px;
      top: 0px;
      .part {
        width: 1px;
        height: 11px;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;

        &-left {
          transform: rotate(-45deg);
          top: 15px;
          right: 24px;
        }
        &-right {
          transform: rotate(45deg);
          top: 15px;
          right: 16px;
        }
      }
    }
  }
}

.footer-row-2 {
  width: 100%;
  height: 62px;
  background-color: #0d2446;
  border-radius: 5px;
  padding: 13px 15px;
  display: flex;
  margin-bottom: 55px;
  position: relative;
  @media screen and (max-width: 1100px) {
    display: block;
    height: auto;
    background-color: #051630;
    margin-bottom: 0;
  }
  p {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    margin: 5px 25px;
    @media screen and (max-width: 1100px) {
      margin-bottom: 10px;
    }
  }
  .button-up {
    display: flex;
    background-color: #0d2446;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 0px;
    display: none;
    @media screen and (max-width: 1100px) {
      display: block;
    }
    .part {
      height: 1px;
      width: 10px;
      background-color: #fff;
      position: absolute;
      &-1 {
        transform: rotate(-45deg);
        top: 18px;
        left: 12px;
      }
      &-2 {
        transform: rotate(45deg);
        top: 18px;
        right: 11px;
      }
    }
  }
  form {
    width: 100%;
    margin: 0;
    p {
      margin: 0;
      @media screen and (max-width: 1100px) {
        margin: 0px -15px;
      }
    }
    input {
      height: 37px;
      width: 100%;
      font-size: 15px;
      color: #463d3d;
      font-family: Poppins;
      border-radius: 5px;
    }
  }
}
